body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
      color: #333;
    }
    header {
      background: #4CAF50;
      color: #fff;
      padding: 1rem 0;
      text-align: center;
    }
    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .outils {
       display: none;
    }
    .App-list {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    .dw-app {
        width: 100%;
        height: 130px;
        text-align: center;
        max-width: 100px;
    }
    .dw-app img {
        display: block;
        width: 100%;
        height: 80%;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        object-fit: cover;
    }
    .dw-app .title {
        color: #000;
        font-size: 12px;
        font-weight: bold;
    }
    pre {
      background: #f4f4f4;
      padding: 10px;
      border-left: 4px solid #4CAF50;
      overflow-x: auto;
      position: relative;
    }
    .section {
      margin-bottom: 10px;
    }
    button.copy-btn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 2px 5px;
      cursor: pointer;
      font-size: 12px;
      border-radius: 4px;
    }
    button.copy-btn:hover {
      background-color: #45a049;
    }
    .code-block {
      position: relative;
    }

    .skeleton-container {
        margin-top: 25px;
    }

    .skeleton {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .skeleton-title,
    .skeleton-text,
    .skeleton-code, .sk-title, .sk-app {
      background: #e0e0e0;
      animation: pulse 1.5s infinite ease-in-out;
    }

    .skeleton-app {
        margin-bottom: 60px;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .sk-list-app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
     }

    .sk-app {
        height: 100px;
        border-radius: 8px;
        width: 100px;
    }

    .skeleton-title{
      width: 80%;
      height: 20px;
      margin-bottom: 23px;
    }

    .skeleton-text, .sk-title {
      width: 100%;
      height: 12px;
    }

    .skeleton-text-2 {
        margin-bottom: 15px;
        width: 45%;
    }

    .skeleton-code {
      width: 100%;
      height: 150px;
    }

    @keyframes pulse {
      0% {
        background-color: #e0e0e0;
      }
      50% {
        background-color: #f5f5f5;
      }
      100% {
        background-color: #e0e0e0;
      }
    }
